.color {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
}

.pixel {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
}

.line {
    height: 40px;
}

#criacaoquadro{
    display: inline-block;
    margin-bottom: 10px;
}